<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="pkRevitRibbon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <pkRevitRibbon.Properties.Settings>
            <setting name="AssemblyNeedLoading" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DevelopmentPathRoot" serializeAs="String">
                <value />
            </setting>
            <setting name="MakeTheNextOneDevelopment" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="pkRevitDatasheets_DevLocation2" serializeAs="String">
                <value />
            </setting>
            <setting name="pkRevitDatasheetsLoadName" serializeAs="String">
                <value />
            </setting>
        </pkRevitRibbon.Properties.Settings>
    </userSettings>
</configuration>