<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="pkRevitCircleOutFamilies.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <pkRevitCircleOutFamilies.Properties.Settings>
            <setting name="test" serializeAs="String">
                <value />
            </setting>
            <setting name="Top" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>270</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>360</value>
            </setting>
            <setting name="Height2" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="Width2" serializeAs="String">
                <value>680</value>
            </setting>
            <setting name="RadioButtonTheSecond" serializeAs="String">
                <value>0</value>
            </setting>
        </pkRevitCircleOutFamilies.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
