<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="pkRevitUnderstandingTransforms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <pkRevitUnderstandingTransforms.Properties.Settings>
            <setting name="Top" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>1050</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="LastMiddle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastA" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="LastB" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="LastSelectedID" serializeAs="String">
                <value>-1</value>
            </setting>
        </pkRevitUnderstandingTransforms.Properties.Settings>

    </userSettings>
</configuration>
